aenum==2.0.9
attrs==17.3.0
beautifulsoup4==4.6.0
certifi==2022.12.7
chardet==3.0.4
docopt==0.6.2
Flask==0.10.1
Flask-SQLAlchemy==2.1
gevent==1.2.2
greenlet==0.4.12
idna==2.6
itsdangerous==0.24
Jinja2==2.10
lxml==4.1.1
MarkupSafe==1.0
pipreqs==0.4.9
pluggy==0.6.0
plyvel==0.9
py==1.5.2
pyasn1==0.4.2
PyMySQL==0.6.7
pytest==3.3.0
requests==2.7.0
rsa==3.4.2
six==1.11.0
SQLAlchemy==1.0.9
thrift==0.10.0
urllib3==1.22
Werkzeug==0.13
yarg==0.1.9
